$width: 100px;
.aa{
    width: $width;
    .bb{
        width: $width;
        background-color:yellow;
        & p{
            width: $width;
            background-color:saddlebrown;
            color: green;
        }
    }
}