.container{
    overflow: hidden;
    .login{
        width: 50%;
        height: 400px; 
        display: flex;  
        margin:200px auto 0;
        background:url('../images/19.jpg')no-repeat center center;
        opacity: 0.8;
        align-items: center;
        :global(.ant-form-item){
            width: 360px;
        }
    }
}