.bg{
    position:absolute;
    width: 380px;
    margin:0 10px 0;
    height:calc(100vh - 65px);
    background: url('../../images/bg_1.png') no-repeat 100% / 100% 100%;
    h2{
        margin-top: 0;
        text-indent: 5px;
        color: aqua;
        text-shadow: 3px -3px #000;
    }
}