.bg{
    width: 400px;
    margin:0 10px 0;
    height: 850px;
    background: url('../../images/bg_1.png') no-repeat 100% / 100% 100%;
    h2{
        margin-top: 0;
        text-indent: 5px;
        color: aqua;
        text-shadow: 3px -3px #000;
    }
}