.bg{
    position:absolute;
    width: 380px;
    margin:0 10px 0;
    height:calc(100vh - 65px);
    background: url('../../images/bg_1.png') no-repeat 100% / 100% 100%;
    h2{
        margin-top: 0;
        text-indent: 5px;
        color: aqua;
        text-shadow: 3px -3px #000;
    }
    .cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 140px);
        box-sizing: border-box;
        .cont_1{
            width: 100%;
            flex:1;
            overflow: hidden;
            box-sizing: border-box;
            & p{
                height: 10px;
                color: #fff;
                width: 80%;
                position: relative;
                text-align: center;
                border-radius: 25px;
                background:linear-gradient(to right, rgb(19, 33, 223),rgba(32, 28, 90, 0.541),rgba(19, 22, 223, 0));
                margin:5px 10px;
                &::after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 0;
                    transform: rotate(45deg);
                    background:radial-gradient(#fff,rgba(0, 0, 0, 0.123));
                }
            }
            .progress{
                width: calc(100% - 50px);
                margin: 15px;
                transition: all 2s;
                color: #fff;
                animation: prog 25s linear infinite;
                .ant-progress{
                    display: flex;
                    align-items: center;
                    .ant-progress-outer{
                        flex:1
                    }
                }
                @keyframes prog {
                    0%{
                        transform: translateY(0%)
                    }
                    99%{
                        transform: translateY(-100%)
                    }
                    100%{
                        transform: translateY(-100%)
                    }
                }
            }
            
        }
    }
}