.container{
    overflow: hidden;
    height: 760px;
    background:url('../../images/2.jpg') no-repeat center;
    opacity: 0.9;
    .login{
        width: 45%;
        height: 500px; 
        display: flex;  
        overflow: hidden;
        margin:10% auto 0;
        background:url('../../images/19.jpg')no-repeat center ;
        opacity: 0.8;
        align-items: center;
        :global(.ant-form-item){
            width: 360px;
        }
        :global(.ant-input){
            background-color: rgba(255, 255, 255, 0.06);
        }
        :global(.ant-input-affix-wrapper){
            background-color: rgba(255, 255, 255, 0.074);
        }
    }
}